html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

a {
  text-decoration: none;
}

ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  box-sizing: border-box;
  font-size: 96%;
}
/* ////////////////////////////////////// */
body {
  font-family: "Poppins", sans-serif;
  color: #444444;
  background-color: #f3f3f3;
}

input{
     font-family: "Poppins", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 2rem;
}

header img {
  width: 3rem;
}

header h2 {
  font-weight: 600;
  font-size: 1.4rem;
  font-weight: 500;
}

.app,.login {
    position: absolute;
    transition: 0.3s ;
}
.app{
    width: 50%;
    top: 15%;
    left: 50%;
    transform: translate(-50%);
}
.login{
  opacity: 0;
  width: 40%;
  transform: translate(-50%);
  top: 25%;
  left: 50%;
}

@media (max-width:1500px){
    .app{
    width: 80%;
}
}

.balance-container {
  display: flex;
  justify-content: space-between;
}



.balance-container:nth-child(1) h2 {
  line-height: 1.4;
  font-weight: 500;
}
.current-balance {
  font-size: 3rem;
  font-weight: lighter;
}

.boxes {
  margin-top: 2rem;
  display: flex;
}
@media (max-width:1050px){
    .boxes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
}
.boxes .container-movements {
  background-color: #fff;
  width: 70%;
  height: 35rem;
  margin-right: 2rem;
  overflow: scroll;
  border-radius: 10px;
}
@media (max-width:1050px){
    .container-movements{
    margin-bottom: 2rem;
    width: 100%;
}
}
.container-movements .movements {
  display: flex;
  align-items: center;
  padding: 1.5rem;
  border-bottom: #bbbaba solid 0.1px;
}

.container-movements .movement-deposit,
.container-movements .movement-draw {
  border-radius: 10px;
  padding: 0 0.5rem;
  color: white;
  font-weight: lighter;
  font-size: .8rem;
}
.container-movements .movement-deposit {
  background-image: linear-gradient(to top left, #39b385, #9be15d);
}

.container-movements .movement-draw {
  background-image: linear-gradient(to top left, #e52a5a, #ff585f);
}

.container-movements .movement-date {
  margin-left: 2rem;
  font-size: 0.7rem;
}

.container-movements .movement-value {
  margin-left: auto;
  font-size: 1.3rem;
  font-weight: 500;
}

.container-inputs {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 50%;
}
@media (max-width:1050px){
    .container-inputs{
    width: 80%;
}
}

.container-inputs .input {
  border-radius: 10px;
  padding: 2rem 1rem;
  width: 100%;
  margin-bottom: .5rem ;
}

.container-inputs .input h2 {
  margin-bottom: 1rem;
  font-weight: 500;
  font-size: 1.4rem;
}

.container-inputs .transfer-input {
  background-image: linear-gradient(to top left, #ffb003, #ffcb03);
}
.container-inputs .loan-input {
  background-image: linear-gradient(to top left, #39b385, #9be15d);
}
.container-inputs .close-input {
  background-image: linear-gradient(to top left, #e52a5a, #ff585f);
}

/* forms */

.form {
  display: grid;
  grid-template-columns: 2.5fr 2.5fr 1fr;
  column-gap: 1rem;
}

.loan-input .form {
  grid-template-columns: 2.5fr 1fr;
}

/* form-button & button*/
.form__btn,
.container-inputs input {
  background-color: #fff;
  outline: none;
  border: none;
  border-radius: 5px;
}

.form__btn {
  padding: 0.3rem 1rem;
  cursor: pointer;
}
.container-inputs input {
  display: inline;
  padding: 0.3rem 0;
  opacity: 0.8;
  text-align: center;
}

/* labels */
.form__label {
  font-size: 0.9rem;
  margin: 0 1rem;
  text-align: center;
  margin-top: 0.3rem;
}

/* Operation Bottom */
.operation-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}
@media(max-width:1050px){
    .operation-bottom{
        flex-direction: column;
        justify-content: center;
    }
}

/* summary */

.summary {
  display: flex;
}

.summary h2 {
  display: inline;
  font-weight: 400;
}

.summary span {
  font-size: 0.8rem;
}

.summary-type {
  margin-right: 1rem;
}

.summary-in {
  color: rgb(52, 189, 52);
}
.summary-out {
  color: red;
}
.summary-tax {
  color: rgb(52, 189, 52);
}

/* sort */
.sort-btn{
    cursor: pointer;
}

/* log out timer */
.log-out-timer{
    font-weight: 700;
}

/* //login */

.login{
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 30rem;
    justify-content: center;
    background-color: #fff;
    border-radius: 10px;
}

.login h1{
    font-size: 3rem;
}
.login .form__input{
   background-image: linear-gradient(to top left, #39b385, #9be15d);
  display: block;
  width: 20rem;
  height: 2.4rem;
  outline:none;
  border: none;
  font-size: 1rem;
  margin:2rem 0;
  border-radius: 10px;
  padding-left: .5rem;
}

.form__input::placeholder{
    color: #fff;
}

